.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  margin-block: 1rem;
  /* font-weight: bold; */
}

.buttons > p {
  color: var(--text-primary);
}
