.list {
	justify-items: start;
	align-items: stretch;
	display: grid;
	gap: var(--list-gap, 16px);
	padding: var(--list-padding, 16px);
}

.list.column {
	grid-template-columns: repeat(
		var(--auto, auto-fit),
		var(--list-item-width, var(--list-item-height, minmax(50px, 1fr)))
	);
	grid-auto-rows: var(--list-item-height, auto);
}

.list.row {
	grid-template-rows: repeat(
		var(--auto, auto-fit),
		var(--list-item-height, var(--list-item-width, minmax(50px, 1fr)))
	);
	grid-auto-columns: var(--list-item-width, auto);
}
