.measures {
  width: 90%;
  height: 10vh;
  margin-inline: auto;
  margin-block: 1rem;
}

.modifiable_measure {
  height: 30%;
}

.measure {
  cursor: pointer;
}

.selected {
  background-color: rgba(144, 238, 144, 0.3) !important;
  opacity: 1 !important;
}

.not_selected {
  opacity: 0.1;
  background-color: gray;
}
