.dropdown {
	position: relative;
}

.header {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 8px;
	width: 100%;
	z-index: 2;
}

.header:hover {
	cursor: pointer;
}

.icon {
	height: 15px;
	width: 15px;
}

.icon > * {
	width: 100%;
}

.arrow {
	transition: all 0.5s ease-out;
}

.dummy_div {
	width: 100%;
	position: absolute;
	z-index: 2;
	left: 0;
	transition: all 0.5s;
}

.ul {
	position: relative;
	transition: all 0.5s;
	left: 0;
}

.ul.hide {
	transform: translateY(-100%);
}

.ul.show {
	transform: translateY(0);
}

.dummy_div.hide {
	clip-path: rect(auto auto 0 auto);
}

.dummy_div.show {
	/*Gives extra room to the child content in the event it has box-shadow*/
	clip-path: rect(-10px calc(100% + 10px) calc(100% + 10px) -10px);
}

.arrow.show {
	transform: rotateZ(180deg);
}
