.pane {
  width: calc(var(--width) / 1.05);
  background-color: var(--color);
  height: var(--height);
  outline: 1px solid var(--color);
  border-radius: 12px;
  border: 2px solid #999999;
  /* background-color: orange; */
  background-color: #cccccc48;
  /* opacity: 0.175; */
  cursor: pointer;
  position: relative;
}

.pane_button {
  opacity: 1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  color: var(--text-primary);
}

.split {
  bottom: 100%;
}

.selected {
  /* border: 1px solid goldenrod;
  background-color: orange;
  opacity: 0.25; */
  background-color: #cccccc7a;
}
