.main_container {
	max-width: var(--body-max-width);
	margin-inline: auto;
	padding-inline: 16px;
	padding-block-start: 16px;
}

.main_container > * {
	margin-bottom: var(--body-item-gap);
}

.main_container >:first-child {
	border-bottom: 1px solid var(--line-color);
}
