.btn {
	border-radius: 4px;
	padding: 6px;
	background-color: var(--text-primary);
	width: calc(100% - 12px); /* Not sure why padding isn't being included in width and height calculation */
	height: calc(100% - 12px);
}

.btn * {
	height: 100%;
	width: 100%;
	fill: var(--surface-primary);
}

/* .btn.inactive {
	opacity: 0.5;
}

.btn.inactive:hover {
	cursor: default;
} */
