.btn {
	box-sizing: border-box;
	border-radius: 4px;
	padding: 6px;
	background-color: var(--text-primary);
	/* Don't necesarily need the following 2 properties; useful for quickly testing new buttons without having an SVG */
	color: var(--surface-primary);
	text-align: center;
	width: 100%;
	height: 100%;
}

.btn * {
	height: 100%;
	width: 100%;
	fill: var(--surface-primary);
}

/* .btn.inactive {
	opacity: 0.5;
}

.btn.inactive:hover {
	cursor: default;
} */
