.container {
	display: grid;
	grid-template-columns: 2fr 1fr;
  align-items: center;
  gap: 1rem;
	padding: 1rem;
	border-bottom: 1px solid black;
  background-color: #3D434F;
}

.imports {
	display: flex;
	justify-content: space-between;
}
